name: Update Wallpaper Daily

on:
  schedule:
    - cron: '0 0 * * *'   # runs daily (UTC)
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run script
        run: python generate.py

      - name: Commit updated image
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "actions@github.com"
          git add output.jpg
          git commit -m "daily wallpaper update" || echo "No changes"
          git push
